<div class="file-box">
  <div *ngIf="folder else elseBlock">
    <a [routerLink]="['/drive/file-details']" [queryParams]="{ id: file?.id, email: email[0].emailAddress}">
      <img [src]="imageSrc" style="height: 100px; width: 100px;">
    </a>
  </div>
  <div>
    <ng-template #elseBlock>
      <a [routerLink]="['/drive/file-details']" [queryParams]="{ id: file?.id}">
        <img [src]="imageSrc" style="height: 100px; width: 100px;">
      </a>
    </ng-template>
  </div>
  <div *ngIf="folder else elseBlockName" class="file-name">
    <a [routerLink]="['/drive/file-details']" [queryParams]="{ id: file?.id, email: email[0].emailAddress}">
      <h6>
        {{file.name}}
      </h6>
    </a>
  </div>
  <div>
    <ng-template #elseBlockName>
      <a [routerLink]="['/drive/file-details']" [queryParams]="{ id: file?.id}">
        <h6>
          {{file.name}}
        </h6>
      </a>
    </ng-template>
  </div>
</div>