<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <div class="card tab2-card">
        <div class="card-body">
          <div
          class="tab-pane fade active show"
          id="account"
          role="tabpanel"
          aria-labelledby="account-tab"
          >

          <form [formGroup]="accountForm">
            <div class="form-group">
              <input 
                  required="" 
                  type="email"
                  class="form-control" 
                  placeholder="Email"
                  id="exampleInputEmail1" 
                  formControlName="username"
              >
          </div>
          <div class="form-button">
            <button class="btn btn-primary" (click)="create()">Add Account</button>
          </div>
          </form>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
