<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h5>My Drive</h5>
    </div>
    <div class="card-body vendor-table">
      <div class="custom-datatable">
        <div class="row">
          <div
          class="col-grid-box"
          [ngClass]="grid"
          *ngFor="let file of files"
        >
          <div class="file-box" style="border-style: hidden; height: 200px; width: 200px;">
            <app-file-box
              style="width: 100%"
              [file]="file"
              [email]="file.owners"
              [typeGridLayout]="grid"
              [mimeType]="file.mimeType"
            >
            </app-file-box>
            <div [class]="typePositionCart">
              <a
              title="Delete"
              (click)="deleteItem(file?.id, file.owners[0].emailAddress)"
            >
              <img src="assets/images/trash.jpg" style="height: 30px; width: 30px;">
            </a>
            </div>
          </div>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>