<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h5>Single Drive</h5>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card tab2-card">
          <div class="card-body">
            <div
            class="tab-pane fade active show"
            id="account"
            role="tabpanel"
            aria-labelledby="account-tab"
            >
        
            <form [formGroup]="emailForm">
              <div class="form-group">
                <input 
                    required="" 
                    type="email"
                    class="form-control" 
                    placeholder="Email"
                    id="exampleInputEmail1" 
                    formControlName="username"
                    [ngClass]="{'is-invalid': emailFormControls.username.errors?.email && emailFormControls.username.touched}"
                >
            </div>
            <div class="form-button">
              <button class="btn btn-primary" (click)="fetch()">Show Drive</button>
            </div>
              <span
              class="text-danger"
              *ngIf="submitted"
              >{{mess}}
              </span>
            </form>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card tab2-card">
          <div class="card-body">
            <div
            class="tab-pane fade active show"
            id="folder"
            role="tabpanel"
            aria-labelledby="account-tab"
            >
        
            <form [formGroup]="folderForm">
              <div class="form-group">
                <input 
                    required="" 
                    type="text"
                    class="form-control" 
                    placeholder="Name"
                    id="inputFolder" 
                    formControlName="nameFolder"
                >
            </div>
            <div class="form-button">
              <button class="btn btn-primary" (click)="createFolder()">New Folder</button>
            </div>
            </form>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card tab2-card">
          <div class="card-body">
            <div
            class="tab-pane fade active show"
            id="file"
            role="tabpanel"
            aria-labelledby="account-tab"
            >
        
            <form [formGroup]="fileForm">
              <div class="form-group">
                <input 
                    required="" 
                    type="file"
                    class="file-upload" 
                    placeholder="file"
                    id="inputFile"
                    hidden="true"
                    (change)="onFileSelected($event)" #fileUploadClick
                >
            </div>
            <div class="form-button">
              <button class="btn btn-primary" (click)="fileUploadClick.click()">Upload File</button>
            </div>
            </form>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="card-body vendor-table">
      <div *ngIf="check" class="custom-datatable">
        <div class="row">
          <div
          class="col-grid-box"
          [ngClass]="grid"
          *ngFor="let file of files"
        >
          <div class="product-box">
            <app-file-box
              style="width: 100%"
              [file]="file"
              [email]="file.owners"
              [typeGridLayout]="grid"
              [mimeType]="file.mimeType"
            >
            </app-file-box>
            <div [class]="typePositionCart">
              <a
              title="Delete"
              (click)="deleteItem(file?.id, file.owners[0].emailAddress)"
            >
              <img src="assets/images/trash.jpg" style="height: 30px; width: 30px;">
            </a>
            </div>

          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>