<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h5>My Drive</h5>
    </div>
    <div class="card-body vendor-table">
      <div class="custom-datatable">

        <div class="row">
          <div
          class="col-grid-box"
          [ngClass]="grid"
          *ngFor="let file of files"
        >
          <div class="product-box">
            <app-file-box
              style="width: 100%"
              [file]="file"
              [email]="file.owners"
              [typeGridLayout]="grid"
              [mimeType]="file.mimeType"
            >
            </app-file-box>
          </div>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>